.confirm-wrapper {
    padding: 0 20px;
}

.confirm__form {
    max-width: 972px;
    margin: 0 auto 40px;
}

.confirm__row {
    display: flex;
    min-height: 70px;
    border-top: 1px solid #e0dfde;
    border-right: 1px solid #e0dfde;
    justify-content: flex-start;
}

.confirm__row:nth-last-child(2) {
    border-bottom: 1px solid #e0dfde;
}

.confirm__row--detail {
    min-height: 150px;
}

.confirm__label {
    background-color: #baa899;
    color: #fff;
    padding: 20px 0 20px 60px;
    width: 305px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.confirm__value {
    padding: 20px 20px 20px 45px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    outline: none;
    border: none;
    color: #8b7969;
    font-size: 20px;
    width: 100%;
    resize: none;
}

.confirm__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.confirm__btn {
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.confirm__btn--submit {
    background-color: #82756a;
    min-width: 120px;
    padding: 10px 40px;
    color: #fff;
}

.confirm__btn--submit:hover {
    background-color: #6d5940;
}

.confirm__btn--edit {
    color: #8b7969;
}

.confirm__btn--edit:hover {
    color: #6d5940;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .confirm {
        padding: 10px;
    }

    .confirm__row {
        flex-direction: column;
        border: none;
    }

    .confirm__label {
        width: 100%;
        padding: 20px 0 20px 45px;
        font-size: 18px;
    }

    .confirm__value {
        border-right: 1px solid #e0dfde;
        border-left: 1px solid #e0dfde;
        font-size: 18px;
    }

    .confirm__row--detail .confirm__value {
        min-height: 150px;
    }

    .confirm__actions {
        flex-direction: column;
        align-items: center;
    }
}
