/* 登録ボタン */
.register-btn-wrapper {
    position: absolute;
    right: 100px;
}

.register-btn {
    background-color: rgba(240, 240, 240, 0.6);
    color: #d9c6b5;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid #d9c6b5;
    width: 100px;
}

.register-btn:hover {
    background-color: #82756a;
    color: #f9f9f9;
}

.error-message {
    color: #ff9494;
    font-size: 14px;
    margin-top: 5px;
}

body {
    background-color: #f1ece7;
}

/* フォーム */
.login__form {
    background-color: #fff;
    padding: 77px 20px 62px;
    border: 1px solid #c5b9b0;
    border-radius: 8px;
    max-width: 736px;
    margin: 0 auto 100px;
}

.login__form-group {
    margin: 0 auto 45px;
    max-width: 445px;
}

.login__label {
    display: block;
    font-size: 25px;
    margin-bottom: 14px;
}

.login__input {
    width: 100%;
    padding: 19px 27px;
    font-size: 14px;
    border: none;
    background-color: #f4f4f4;
}

.login__input:focus {
    outline: none;
}

.login__input::placeholder {
    color: #beb1a6;
}

/* ログインボタン */
.login__submit {
    margin-top: 95px;
    text-align: center;
}

.login__btn {
    background-color: #82756a;
    color: white;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
}

.login__btn:hover {
    background-color: #7a6349;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .register-btn-wrapper {
        position: static;
    }

    .register-btn {
        font-size: 15px;
    }

    .login__form {
        margin: 0 15px 40px;
    }

    .login__label {
        font-size: 20px;
    }

    .login__btn {
        font-size: 15px;
    }
}
